---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";

export interface Props {
  content: {
    title: string;
    facultad: string;
    heroImage?: string;

    tags: string[];
  };
}

const {
  content: { title, facultad, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={facultad} />
  </head>

  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content>
        <div class="my-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-lg"
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-mvoll">{title}</h1>
        <div class="mb-4 text-xl italic font-mvoll">{facultad}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
        <Footer />
      </Content>
    </main>
  </Body>
</html>
