---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MastHead from "../components/MastHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

export interface Props {
  category: string;
  imgCat: string;
}
const { category, imgCat } = Astro.props;

const carreras = (await Astro.glob("../pages/carreras/*.md")).filter((item) =>
  item.frontmatter.tags.includes(category)
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <MastHead portada={imgCat} />
      <Content>
        <Breadcrumb>{category}</Breadcrumb>
        <section class="mt-6">
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              carreras.map((carrera) => (
                <li class="text-center mb-4">
                  <a href={carrera.url}>
                    <img
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={carrera.frontmatter.heroImage as string}
                      width={720 * 2}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl font-bold">
                      {carrera.frontmatter.title}
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
